a{
    color: var(--mat-stepper-header-selected-state-icon-background-color);
    font-size: smaller
}

mat-panel-description{
    flex-grow: 1;
    justify-content: end;
}

mat-panel-title{
    flex-grow: 2;
}

mat-expansion-panel{
    padding-top: 10px;
    padding-bottom: 10px;
}